<mat-card class="container border " style="margin-top: 5%; padding:20px;">

    <mat-card-title>Encriptación</mat-card-title>
    <p></p>
    <mat-card-content>
        <form [formGroup]="encryptForm">
            <p>
                <mat-form-field appearance="outline" [style.width.%]=100>
                    <mat-label>Mensaje</mat-label>
                    <input formControlName="message" matInput placeholder="Ingresa aqui el mensaje a encriptar">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" [style.width.%]=100>
                    <mat-label>Clave</mat-label>
                    <input formControlName="key" matInput placeholder="Ingresa la clave secreta">

                </mat-form-field>
            </p>
            <button mat-raised-button color="primary" (click)="encrypt()" [disabled]="encryptForm.invalid">
                <mat-icon>lock</mat-icon>Encriptar</button>
        </form>
    </mat-card-content>
</mat-card>

<div class="container" style="margin-top: 3%;" *ngIf="encryptedMessage.length!=0">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Mensaje encriptado
                </mat-panel-title>
                <mat-panel-description>
                    {{encryptedMessage}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Partiendo del mensaje <b>"{{message}}" </b> encriptado con la clave <b>"{{key}}"</b>, los pasos para
                llegar
                al mensaje encriptado <b>"{{encryptedMessage}}"</b> fueron:</p>
            <ul class="list-group">

                <li *ngFor="let char of vectorMessage; index as i" @fadeIn
                    class="list-group-item d-flex justify-content-between align-items-center">
                    Letra 1: <b>'{{char}}'</b> + Clave: <b>'{{vectorClave[i]}}'</b> = <b>{{vectorEncrypted[i]}}</b>
                    <span class="badge bg-primary rounded-pill">{{i+1}}</span>
                </li>
            </ul>

        </mat-expansion-panel>
    </mat-accordion>

</div>